header, main, footer {
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto; }

.equipoServicios__Titulo h2 {
  width: 100vw;
  max-width: 1140px;
  background-color: #990033; }

.tituloSecciones {
  width: 100vw;
  max-width: 1140px;
  background-color: #990033; }

.tituloSecundario {
  color: #000033; }

.tarjetaServicios figure img {
  width: 100%;
  height: 100%; }

.trabajosIndividuales img {
  width: 100%;
  height: 100%; }
